body {
  margin: 0;

}

#background {
  height: 100%;
  width: 100%;
  background-image: url('../media/background.jpg');
  opacity: 1;
}


#para{
  position: fixed;
  background-color: rgba(1, 27, 78, .7);
  height: 100%;
  width: 100%;
}


#loginDiv {
  position: fixed;

  border: 3px solid #233957;

  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  max-height: 500px;

  border-radius: 50px;

  height: 50%;
  width: 25%;

  background-color: #ffffff;
  padding: 10px;
}


#UserName {
  margin-top: 10%;
  margin-left: 10%;
}

#passWord {
  margin-top: 10%;
  margin-left: 10%;

}


#loginName {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  height: 10%;
  width: 90%;

  color: 	#233957;
  font-size: 100%;
  font-family: "Georgia", Times, serif;

}

#loginPassword {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  height: 10%;
  width: 90%;

  color: 	#233957;
  font-size: 100%;
  font-family: "Georgia", Times, serif;

}

#loginButton {
  outline:none;
  background-color: #005ecd;
  border-color:#005ecd;
  margin-top: 10%;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  width: 81%;
  height: 12%;
  cursor: pointer;
}

#loginButtonText {
color: #FFFFFF;
font-size: 20px;
font-family: "Georgia", Times, serif;
}

#signUpButton {
  outline:none;
  background-color: #03afe6;
  border-color:#03afe6;
  border-radius: 2px;
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  width: 81%;
  height: 12%;
  cursor: pointer;
}

#signUpButtonText {
color: #FFFFFF;
font-size: 20px;
font-family: "Georgia", Times, serif;
}

#registrationHeader {
  position: fixed;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#message{
  text-align: center;
}

#fname {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  font-family: "Georgia", Times, serif;
  margin: auto;
  height: 10%;
  width: 90%;
}

#lname {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  font-family: "Georgia", Times, serif;
  margin: auto;
  height: 10%;
  width: 90%;
}

#regDiv {
  position: fixed;

  border: 1px solid #233957;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 50px;

  height: 70%;
  width: 25%;


  min-height: 500px;


  background-color: #ffffff;
  padding: 10px;

  text-align: left;


}

#regForm1 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm2 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm3 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm4 {
  margin-top: 5%;
  margin-left: 10%;

}

#header {
  position: fixed;
  height: 100px;
  width: 100%;

  background-color: black;
  opacity: 1;
}

#tabs {
  position: fixed;
  margin-top: 100px;
  height: calc(100% - 100px);
  width: 100px;
  background-color: green;
}

#table {
  position: fixed;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  margin-left: 100px;
  margin-top: 100px;
  background-color: red;
}

table {
  overflow: scroll;
  border-collapse: collapse;

}
tr {
  border: 1pt solid black;
  background-color: blue;
}

th {
  text-align: left;
}

.search{
  display:inline-block;
  height: 25px;
  width: 15%;
  margin-top: 50px;
  margin-left: 80%;
}

.delete{
  display:inline-block;
  margin-top: 15%;
  width: 100%;
  height: 10%;

}
#searched{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#deleteButton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
