body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  margin: 0;

}


#distrationHeader {
  position: fixed;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#message{
  text-align: center;
}

#fname {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  font-family: "Georgia", Times, serif;
  margin: auto;
  height: 10%;
  width: 90%;
}

#lname {
  padding-left: 3%;
  outline:none;
  border-radius: 10px;
  border-color: lightslategrey;
  text-align: left;
  font-size: 100%;
  font-family: "Georgia", Times, serif;
  margin: auto;
  height: 10%;
  width: 90%;
}

#regBod {
  background-color: #011b4e;
}
#regDiv {
  position: fixed;

  border: 1px solid #233957;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 50px;


  height: 600px;
  width: 450px;


  background-color: #ffffff;
  padding: 10px;

  text-align: left;


}

#regForm1 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm2 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm3 {
  margin-top: 10%;
  margin-left: 10%;

}

#regForm4 {
  margin-top: 5%;
  margin-left: 10%;

}

#header {
  position: fixed;
  height: 100px;
  width: 100%;

  background-color: black;
  opacity: 1;
}

#tabs {
  position: fixed;
  margin-top: 100px;
  height: calc(100% - 100px);
  width: 100px;
  background-color: green;
}

#table {
  overflow: scroll;
  position: fixed;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  margin-left: 100px;
  margin-top: 100px;
  background-color: red;
}

table {
  overflow: scroll;
  border-collapse: collapse;

}
tr {
  border: 1pt solid black;
  background-color: blue;
}

th {
  text-align: center;
}
td {
  text-align: center;
}

.search{
  display:inline-block;
  height: 25px;
  width: 15%;
  margin-top: 50px;
  margin-left: 80%;
}

.deleteContact{
  display:inline-block;
  margin-top: 15%;
  width: 100%;
  height: 10%;

}
.addContact{
  display:inline-block;
  margin-top: 15%;
  width: 100%;
  height: 10%;

}
.updateContact{
  display:inline-block;
  margin-top: 15%;
  width: 100%;
  height: 10%;

}
#searched{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
#deleteButton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#addButton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#updateButton{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
